PORT=4317
NODE_ENV=production
DATABASE_URL=postgresql://neondb_owner:npg_XUQPAHSI5ep7@ep-soft-unit-aoevty2w-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLICKHOUSE_URL=https://hkv776eruj.ap-south-1.aws.clickhouse.cloud:8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=UA~Ac2mV_d0O8
CLICKHOUSE_DB=default
REDIS_URL=rediss://default:gQAAAAAAAi3dAAIgcDI4NzQzYjIxYWU5YjA0M2Y2OTRmNDQyMWVjZThiNjlkZA@social-foxhound-142813.upstash.io:6379
INGESTOR_JWT_SECRET=7395ebd42512baef0b482a50d9eec85c0692c67d18861bd240aa870344ccdcab
INTERNAL_API_URL=https://deployraai.onrender.com
INTERNAL_API_SECRET=96f32c9232c1d13450868335c9456d0c0164e269d45566b984ec73bd7909a06d
//rnd_ejz4Ki4Gyhd7wVwCCX0cuOdNZCzU
