PORT=5000
NODE_ENV=development

MONGO_URI=your_mongodb_uri_here

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_CALLBACK_URL=http://localhost:5000/auth/github/callback

JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d

COOKIE_NAME=deployai_token
SERVER_SECRET_KEY=32_character_long_secret_key_here

# Vercel OAuth
VERCEL_CLIENT_ID=
VERCEL_CLIENT_SECRET=
VERCEL_CALLBACK_URL=http://localhost:5000/api/integrations/vercel/callback

# Netlify OAuth
NETLIFY_CLIENT_ID=
NETLIFY_CLIENT_SECRET=
NETLIFY_CALLBACK_URL=http://localhost:5000/api/integrations/netlify/callback



# Railway Config
RAILWAY_API_URL=https://backboard.railway.app/graphql/v2

# Render Config
RENDER_API_URL=https://api.render.com/v1

RAILWAY_WORKSPACE_ID=

# AI Provider Settings
AI_PROVIDER=gemini
GEMINI_API_KEY=
OPENAI_API_KEY=
